.form-control.login-user {
  border: 0 solid #fff !important;
  background-color: rgba(70, 55, 240, 0);
}

#login{
  height: 88.5vh;
  background-color: #C3DAD8;
}

#login h1,h2{
  text-align: center;
}

#login h2{
  padding-bottom: 50px;
}

.container label{
  font-size: 26px;
  padding-right: 0%;
}

.card-body{
  background-color: rgba(70, 55, 240, 0.31);
}
